/* 
File name: portfolio
Student Name: Tu Hanren
Student ID: 301061529
Date: 2021-09-28
*/
body {
    background-image: url("/Assets/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
.navbar-brand {
    width: 100px;
}
body>main>div>div>div> h2 {
    /* color:#ff6a21!important; */
    font-weight: 350;
    font-size: 4em;
    padding: 10px;
    margin: 15px;
}
body>main>div>div>div> h2 span {
    color:rgb(201, 16, 16);
}
.lottiehome{
    height: 300px;
    width: 300px;
    float: right;
    position: relative;
}
.jumbortron{
    width: 1000px;
    position: relative;
    left: 12%;
}
body>main>div > h1 {
    color:#ffffff;
    position: relative;
    padding:10px;
}
.introduction {
    margin-left: 3%;
    font-size: 24px;
    position: relative;
}

body {
    -webkit-animation: fadein 0.5s linear forwards;
    animation: fadein 0.5s linear forwards;
}

@-webkit-keyframes fadein {

    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}