/* 
File name: portfolio
Student Name: Tu Hanren
Student ID: 301061529
Date: 2021-09-28
*/
/*Home page CSS*/
body {
    background-image: url("/Assets/images/background2.svg");
    /*image source: https://pixabay.com/illustrations/planet-moon-orbit-solar-system-581239/*/
    background-size: cover;
    /* height: 800px; */
    /* opacity: 0.9; */
    -webkit-animation: fadein 0.5s linear forwards;
    animation: fadein 0.5s linear forwards;
    /* background-repeat: no-repeat; */
}
body>main>div>div> h1{
    position: relative;
    left: 12%;
}
.lottiehome {
    height: 300px;
    width: 300px;
    float: right;
    position: relative;
    bottom: 200px;
}
#jumbortron {
    width: 850px;
    position: relative;
    left: 19%;
    bottom: 120px;
    font-size: 22px;
    top: 40%;
}
.typecontainer {
    color: #fff;
    height: 500px;
    padding-top: 17%;
    padding-left: 35%;
}
.type {
    color:rgba(255, 255, 255, 0.931);
    font-size:40px;
}
body>main>div> h1 {
    color:#ffffff;
    position: relative;
    padding:10px;
}
/*Projects Page CSS*/
.serviceanimation {
    height: 200px;
    width: 200px;
}
.img-thumbnail {
    height: 200px;
    width: 200px;
}
#table {
    width: 80%;
    position: relative;
    left: 11%;
}
/*Contact Page CSS*/
#contact {
    color: #fff;
    width: 65%;
    position: relative;
    left: 20%;
}
.row {
    width: 25%;
    position: relative;
    left: 40%;
}
/*Global*/
@-webkit-keyframes fadein {

    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}