/* your custom css goes here */
.navbar-brand {
    width: 100px;
}

body > main > div > div > h1{
    color:#ff6a21!important;
    font-weight: 400;
    font-size: 1em;
}

body>main>div>div>h1 span{
    font-size: 0.5em;
    font-weight: 300;
    color:#ff6a21;
}