/* 
File name: portfolio
Student Name: Tu Hanren
Student ID: 301061529
Date: 2021-09-28
*/

body>main>div>div>div> h1 {
    color:#ff6a21!important;
    font-weight: 350;
    font-size: 4em;
    margin-right: auto;
    margin-top: 20px;
}
body>main>div>div>div> h1 span {
    font-size: 0.5em;
    font-weight: 300;
    color:#ff6a21;
    margin-right: auto;
}
.lottiehome{
    height: 300px;
    width: 300px;
    float: right;
}
.jumbortron{
    width: 1000px;
}