/* 
File name: portfolio
Student Name: Tu Hanren
Student ID: 301061529
Date: 2021-09-28
*/
body {
    background-image: url("/Assets/images/background.jpg");
    background-size: cover;
    opacity: 0.9;
}
.navbar-brand {
    width: 100px;
}
body>main>div>div> h1 {
    color:#ff6a21!important;
    font-weight: 350;
    font-size: 5em;
    margin-right: auto;
    margin-top: 10px;
}
body>main>div>div> h1 span {
    font-size: 0.5em;
    font-weight: 300;
    color:#ff6a21;
    margin-right: auto;
}
.lottiehome{
    height: 300px;
    width: 300px;
    float: right;
    position: relative;
}
.jumbortron{
    width: 1000px;
    position: relative;
    top:50%;
    left:23%;
}
body>main> h1 {
    color:#ffffff;
    position: relative;
    left:23%;
    padding:10px;
}
.introduction {
    padding-top: auto;
    height: auto;
    margin-left: 9vh;
    font-size: 20px;
    position: relative;
}