/* 
File name: portfolio
Student Name: Tu Hanren
Student ID: 301061529
Date: 2021-09-28
*/
body {
    background-image: url("/Assets/images/background.jpg");
    background-size: cover;
    height: 800px;
    opacity: 0.9;
    -webkit-animation: fadein 0.5s linear forwards;
    animation: fadein 0.5s linear forwards;
}
.navbar-brand {
    width: 100px;
}
body>main>div>div>div> h2 {
    /* color:#ff6a21!important; */
    font-weight: 350;
    font-size: 4em;
    padding: 10px;
    margin: 15px;
}
.lottiehome{
    height: 300px;
    width: 300px;
    float: right;
    position: relative;
    bottom: 200px;
}
#jumbortron{
    width: 1000px;
    /* position: relative; */
    left: 12%;
    bottom: 80px;
}
.typecontainer {
    color: #fff;
    position: relative;
    height: 600px;
    padding-top: 25%;
    padding-left: 35%;
}
.type {
    position: relative;
    color:rgba(47, 251, 11, 0.931);
}
body>main>div > h1 {
    color:#ffffff;
    position: relative;
    padding:10px;
}
.introduction {
    margin-left: 3%;
    font-size: 24px;
    position: relative;
}

@-webkit-keyframes fadein {

    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}