<!DOCTYPE html>
<html>
  <head>
    
    <!-- CSS Section -->
    <link rel='stylesheet' href='/Content/app.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- JavaScript Section -->
    <script src="/Scripts/app.js"></script>
  </body>
</html>
