  <div class="container">
    <h1><i class="fas fa-fire-alt fa-lg mt-2"></i> Welcome to the <strong><%= title %></strong> page</h1>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-12">
          <div class="text-center mx-auto section-main-title">
              <h2>Contact <span class="font-weight-bold">Me</span></h2>
              <div class="main-title-border">
                  <i class="mdi mdi-asterisk"></i>
              </div>
              <p class="text-muted mx-auto mt-2">Shoot me an email and I'll get back to you as soon as possible.</p>
          </div>
      </div>
  </div>  
      <div class="row mt-4 pt-4">
          <div class="col-lg-4">
              <div class="text-center mt-4">
                  <div>
                      <i class="mbri-mobile2 text-custom h2"></i>
                  </div>
                  <div class="mt-2">
                      <p class="mb-0 font-weight-bold"></p>
                      <p class="text-muted">+1 (416) 837-9856</p>
                  </div>
              </div>
              <div class="text-center mt-4">
                  <div>
                      <i class="mbri-letter text-custom h2"></i>
                  </div>
                  <div class="mt-2">
                      <p class="mb-0 font-weight-bold"></p>
                      <p class="text-muted">tu.hanren@gmail.com</p>
                  </div>
              </div>
              <div class="text-center mt-4">
                  <div>
                      <i class="mbri-pin text-custom h2"></i>
                  </div>
                  <div class="mt-2">
                      <p class="mb-0 font-weight-bold"></p>
                      <p class="text-muted">Toronto, Canada</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="contact_form">
                  <form action="https://formspree.io/f/mleavenz" method="POST">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mt-2">
                                  <label for="name" class="font-weight-bold">Name</label>
                                  <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mt-2">
                                  <label for="email" class="font-weight-bold">Email address</label>
                                  <input name="email" id="email" type="email" class="form-control" placeholder="Your email..." required="">
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group mt-2">
                                  <label for="subject" class="font-weight-bold">Subject</label>
                                  <input type="text" class="form-control" id="subject" placeholder="Your Subject.." required="">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mt-2">
                                  <label for="comments" class="font-weight-bold">Message</label>
                                  <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." required=""></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12 text-right">
                              <input type="submit" class="btn btn-custom" value="Send">
                          </div>
                      </div>
                  </form>
              </div> 
          </div>
      </div>                          
  </div>
</div>