  <div class="shadow-1-strong bg-dark my-5 p-5" id="contact">
    <div class="contact-section">
      <h2 class="h2 fw-light text mb-4"><strong><%= title %></strong</h2>
      <div class="row mb-4">
        <div class="col-md-5" data-aos="fade-left" data-aos-delay="100">
          <div class="mt-1">
            <div class="h6"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> +1 416-837-9856</div>
            <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> tu.hanren@gmail.com</div>
          </div>
          <div class="mt-5 d-print-none"><form action="https://formspree.io/f/mleavenz" method="POST">
  <div class="form-outline mb-4">
    
    <label class="form-label" for="name">Name</label>
    <input name="name" type="text" id="name" class="form-control" required/>
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="email">Email address</label>
    <input name="email" type="email" id="email" class="form-control" required/>
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="message">Message</label>
    <textarea name="message" class="form-control" id="message" rows="4" required></textarea>    
  </div>
  <button class="btn btn-info btn-block mb-4" type="submit" value="send">Send</button>
</form>
</div>
</div>

    </div>
  </div>