<h1><i class="fas fa-fire-alt fa-lg mt-2"></i> Welcome to the <strong><%= title %></strong> page</h1>
<!-- <div class="container">
<div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-12">
          <div class="text-center mx-auto section-main-title">
              <h2>Contact <span class="font-weight-bold">Me</span></h2>
              <div class="main-title-border">
                  <i class="mdi mdi-asterisk"></i>
              </div>
              <p class="text-muted mx-auto mt-2">Shoot me an email and I'll get back to you as soon as possible.</p>
          </div>
      </div>
  </div>  
      <div class="row mt-4 pt-4">
          <div class="col-lg-4">
              <div class="text-center mt-4">
                  <div>
                      <i class="mbri-mobile2 text-custom h2"></i>
                  </div>
                  <div class="mt-2">
                      <p class="mb-0 font-weight-bold"></p>
                      <p class="text-muted">+1 (416) 837-9856</p>
                  </div>
              </div>
              <div class="text-center mt-4">
                  <div>
                      <i class="mbri-letter text-custom h2"></i>
                  </div>
                  <div class="mt-2">
                      <p class="mb-0 font-weight-bold"></p>
                      <p class="text-muted">tu.hanren@gmail.com</p>
                  </div>
              </div>
              <div class="text-center mt-4">
                  <div>
                      <i class="mbri-pin text-custom h2"></i>
                  </div>
                  <div class="mt-2">
                      <p class="mb-0 font-weight-bold"></p>
                      <p class="text-muted">Toronto, Canada</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="contact_form">
                  <form action="https://formspree.io/f/mleavenz" method="POST">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mt-2">
                                  <label for="name" class="font-weight-bold">Name</label>
                                  <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mt-2">
                                  <label for="email" class="font-weight-bold">Email address</label>
                                  <input name="email" id="email" type="email" class="form-control" placeholder="Your email..." required="">
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group mt-2">
                                  <label for="subject" class="font-weight-bold">Subject</label>
                                  <input type="text" class="form-control" id="subject" placeholder="Your Subject.." required="">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mt-2">
                                  <label for="comments" class="font-weight-bold">Message</label>
                                  <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." required=""></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12 text-right">
                              <input type="submit" class="btn btn-custom" value="Send">
                          </div>
                      </div>
                  </form>
              </div> 
          </div>
      </div>                          
  </div>
</div> -->

  <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
    <div class="contact-section">
      <h2 class="h2 fw-light text mb-4">Contact</h2>
      <div class="row mb-4">
        <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
          <div class="mt-1">
            <div class="h6"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> +0718-111-0011</div>
            <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> walter@company.com</div>
          </div>
          <div class="mt-5 d-print-none"><form action="https://formspree.io/your@email.com" method="POST">
  <div class="form-outline mb-4">
    <input type="text" id="name" class="form-control" required/>
    <label class="form-label" for="name">Name</label>
  </div>
  <div class="form-outline mb-4">
    <input type="email" id="email" class="form-control" required/>
    <label class="form-label" for="email">Email address</label>
  </div>
  <div class="form-outline mb-4">
    <textarea class="form-control" style="resize: none;" id="message" rows="4" required></textarea>
    <label class="form-label" for="message">Message</label>
  </div>
  <button class="btn btn-info btn-block mb-4" type="submit">Send</button>
</form>
          </div>
        </div>
        <div class="col-md-7 d-print-none" data-aos="zoom-in" data-aos-delay="100"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d496.9774799129763!2d-73.98032087190995!3d40.765927126473905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f9cfcb250d%3A0xdb570ddcb766e3a8!2sNew%20York%20City%20Center!5e0!3m2!1sen!2sin!4v1614183731149!5m2!1sen!2sin" width="500" height="400" style="border:0;width:100%;" allowfullscreen="" loading="lazy"></iframe></div>
      </div>
    </div>
  </div>