<h1><i class="fas fa-fire-alt fa-lg mt-2"></i> Welcome to my <strong><%= title %></strong> page</h1>
  <div class="h-100 p-3 text-white bg-dark rounded-3">
    <div class="lottiehome"></div>
    <h1>Tu Hanren
      <span>Web &amp; Data</span>
    </h1>
    <h6>
      Hey, It's Hanren here.
    </h6>

  </div>
