<h1><i class="fas fa-fire-alt fa-lg mt-2"></i> Welcome to my <strong><%= title %></strong> page</h1>
  <div class="h-100 p-5 text-white bg-dark rounded-3">
    <h1>Tu Hanren
      <span>Web App &amp; Development</span>
    </h1>
    <div class="lottiehome"></div>
    <h6>I create interactive websites that are unique, visually appealing and contain engaging content written specifically for web audiences. Web creation is more than just coding. I work with the 'bigger picture' in mind, that includes a concerted focus on performance, aesthetics, user experience and interaction, social media engagement and web presence optimization.
    </h6>

  </div>
