<div class="hometop p-3">
<div class="typecontainer">
  <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hello & Welcome</h2>
  <h1><strong><span class="type"></span></strong></h1>
</div>
<div class="h-100 p-3 text-white bg-dark border rounded-3" id="jumbortron">
  <div class="lottiehome"></div>
  <div class="introduction">
    <p><i class="fas fa-fire-alt fa-lg mt-2"></i> I am studying Software Engineering at Centennial College.<br>
      <i class="fas fa-fire-alt fa-lg mt-2"></i> This is my first Express.js Page.<br>
    </p>
    <p>
      <i class="fas fa-fire-alt fa-lg mt-2"></i> I have some experience with Python and SQL as well.<br>
      <i class="fas fa-fire-alt fa-lg mt-2"></i> I am working on join them with Node.js together.
      <!-- <i class="fas fa-fire-alt fa-lg mt-2"></i> Me: You are anoying Barry!<br>
     <i class="fas fa-fire-alt fa-lg mt-2"></i> Berry: Buzz.. Buzz... -->
    </p>
    </div>
</div>
</div>