<!-- <h1><i class="fas fa-fire-alt fa-lg mt-2"></i> Welcome to my <strong><%= title %></strong> page</h1> -->
<!-- <div class="jumbortron">
  <div class="h-100 p-3 text-white bg-dark border rounded-3">
    <div class="lottiehome"></div>
    <h2><strong>I am a <span class="type"></span></strong></h2>
    <div class="introduction">
    <p>
      Hey, It's Hanren here.<br>
      I am study in Software Engineering at Centennial College.<br>
      This is my first Express.js project.<br>
    </p>
    <p>
      I have some experience with Python and SQL as well.<br>
      I am working on join them together.
    </p>
    </div>
  </div>
</div> -->
<div class="typecontainer">
  <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hello & Welcome</h2>
  <h1><strong><span class="type"></span></strong></h1>
</div>
<div class="h-200 p-3 text-white bg-dark border rounded-3">
  <div class="lottiehome"></div>
  <div class="introduction">
    <p>I am study in Software Engineering at Centennial College.<br>
      This is my first Express.js project.<br>
    </p>
    <p>
      I have some experience with Python and SQL as well.<br>
      I am working on join them together.
    </p>
    </div>
</div>