<div class="hometop">
  <div class="typecontainer">
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hello & Welcome</h2>
    <h1><strong><span class="type"></span></strong></h1>
  </div>
  <div class="text-white" id="jumbortron">
    <div class="lottiehome"></div>
      <div class="introduction">
        <p><i class="fas fa-fire-alt fa-lg mt-2 ms-2"></i> I am studying Software Engineering at Centennial.<br>
           <i class="fas fa-fire-alt fa-lg mt-2 ms-2"></i> Check out what I've <a role="button" class="btn btn-outline-success text-white" aria-pressed="true" href="/projects">Done</a> and what I can <a role="button" class="btn btn-outline-warning text-white" aria-pressed="true" href="/services">Help</a>.<br>
           <i class="fas fa-fire-alt fa-lg mt-2 ms-2"></i> This is my first Express.js Page.<br>
           <i class="fas fa-fire-alt fa-lg mt-2 ms-2"></i> Wanna learn more <a role="button" class="btn btn-outline-primary text-white" aria-pressed="true" href="/about">About</a> me and <a role="button" class="btn btn-outline-info text-white" aria-pressed="true" href="/contact">Find</a> me?
        </p>
      </div>
    </div>
  </div>
<hr style="width:50%", size="3", color="black">  
</div>

</div>