<div class="hometop">
  <div class="typecontainer">
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hello & Welcome</h2>
    <h1><strong><span class="type"></span></strong></h1>
  </div>
  <div class="text-white bg-dark border rounded-3" id="jumbortron">
    <div class="lottiehome"></div>
      <div class="introduction">
        <p><i class="fas fa-fire-alt fa-lg mt-2 ms-2"></i> I am studying Software Engineering at Centennial.<br>
           <i class="fas fa-fire-alt fa-lg mt-2 ms-2"></i> This is my first Express.js Page.<br>
           <i class="fas fa-fire-alt fa-lg mt-2 ms-2"></i> I have some experience with Python and SQL as well.<br>
           <i class="fas fa-fire-alt fa-lg mt-2 ms-2"></i> I am working on join them with Node.js together.
        </p>
      </div>
    </div>
  </div>
</div>