<h1><i class="fas fa-fire-alt fa-lg mt-2"></i> Look what <strong><%= title %></strong> I have done</h1>
<div class="container">
<div class="projectstable"></div>
    <table class="table table-dark table-striped table-hover" id="table">
  <thead>
    <tr>
      <th scope="col"><h4>Project</h4></th>
      <th scope="col"><h4>Description</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><img class="img-thumbnail" src="/Assets/images/project1.svg"></td>
        <td><h3>Python Web Scraping</h3>
            <p>Implemented multi-page scraping with Selenium<br>
            Created BeautifulSoup framework to parse and extract movie information<br>
            Stored scraped data into csv/xlsx file using Python built-in function
            </p>
        </td>
    </tr>
    <tr>
        <td><img class="img-thumbnail" src="/Assets/images/project2.svg"></td>
        <td><h3>Marketing Campaign Analysis</h3>
            <p>Created fixed market campaign analysis report using Python Pandas DataFrame<br>
             Loaded and merged data from multiple sources; Created summary statistics with Pandas<br>
             Detected and conducted missing value imputation on different variables using sklearn
            </p>
        </td>
    </tr>
    <tr>
      <td><img class="img-thumbnail" src="/Assets/images/project3.svg"></td>
      <td><h3>Pandas Hands-on</h3>
          <p>Conducted data validation and code cross-check with Python Jupyter Notebook<br>
            Performed table editing, layout design, graphic design and proofreading with Microsoft Word and Excel
          </p>  
      </td>
    </tr>
  </tbody>
</table>
</div>