<h1><i class="fas fa-fire-alt fa-lg mt-2"></i> Look what <strong><%= title %></strong> I have done</h1>
<div class="container">
<div class="projectstable"></div>
    <table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Python Web Scraping</td>
        <td><h3>Python Web Scraping</h3>
            <p>Implemented multi-page scraping with Selenium<br>
            Created BeautifulSoup framework to parse and extract movie information<br>
            Stored scraped data into csv/xlsx file using Python built-in function
            </p>
        </td>
    </tr>
    <tr>
        <td class="lottieproject1"></td>
        <td><h3>Marketing Campaign Analysis</h3>
            <p>Created fixed market campaign analysis report using Python Pandas DataFrame<br>
             Loaded and merged data from multiple sources; Created summary statistics with Pandas<br>
             Detected and conducted missing value imputation on different variables using sklearn
            </p>
        </td>
    </tr>
    <tr>
      <td>Pandas Hands-on</td>
      <td><h3>Pandas Hands-on</h3>
          <p>Conducted data validation and code cross-check with Python Jupyter Notebook<br>
            Performed table editing, layout design, graphic design and proofreading with Microsoft Word and Excel
          </p>  
      </td>
    </tr>
  </tbody>
</table>
</div>