<!DOCTYPE html>
<html>
  <head>    
    <!-- CSS Section -->
    <link rel="stylesheet" href="/Content/app.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="icon" href="/Assets/images/tabIcon.svg">
  </head>
  
  <body>
  <!-- Navigation Section -->
  <header>
    <%- include('components/header.ejs'); %>
  </header>
  <!-- Content Section -->
  <main> 
    <div class="container">
      <%- include('content/'+ page + '.ejs'); %>
    </div>
  </main>    
  <!-- Footer Section -->
  <footer>
    <%- include('components/footer.ejs'); %>
  </footer>
    <!-- JavaScript Section -->
    <script src="/Scripts/app.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="/lottie-web/build/player/lottie.min.js"></script>
    <script src="/typed.js/lib/typed.min.js"></script>
    <script src="/particles/particles.min.js"></script>
    <script src="/particles/app.js"></script>
    <!-- Lottie Section -->
    <script>
      const lottiehome = document.querySelector('.lottiehome');
      lottie.loadAnimation({
        container: lottiehome,
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://assets3.lottiefiles.com/packages/lf20_hcae8wxn.json' 
      });
    </script>
    <!-- Typed Section -->
    <script>
      let typed = new Typed(".type", {
        strings: [
          "Developer",
          "Analyst",
          "Designer"
        ],
        typeSpeed: 60,
        backSpeed: 60,
        loop: true
      });
    </script>
    <div id="particles-js">
  </body>
</html>
