/* 
File name: portfolio
Student Name: Tu Hanren
Student ID: 301061529
Date: 2021-09-28
*/
/*Global CSS*/
body {
    background-image: url("/Assets/images/background2.svg");
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -webkit-animation: fadein 0.5s linear forwards;
    animation: fadein 0.5s linear forwards;
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
}
body>main>div h1 {
    color: #f8f5f6;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 12%;
}
/*Home page CSS*/
header {
    text-align: center;
}
.header {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 68%;
    padding-bottom: 30px;
    text-align: center;
}
header .banner-text {
    width: 100%;
    position: relative;
    right: 55%;
    padding-top: 20%;
}
header .banner-text h1 {
    font: 80px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
}
header .banner-text h2 {
    font: 24px/1.9em 'librebaskerville-regular', serif;
    color: #dadada;
    margin: 0 auto;
}
header .banner-text h3 span, header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 50%;
   margin: 18px auto 24px auto;
   color: #f8f5f6;
}
header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px;
}
header .social li {
    display: inline-block;
    margin: 0 15px;
}
header .social li a { 
     color: #fff; 
}
header .social li a:hover {
     color: #2beef5; 
}
/*About Page CSS*/

/*Projects Page CSS*/
.serviceanimation {
    height: 200px;
    width: 200px;
}
.img-thumbnail {
    height: 200px;
    width: 200px;
}
#table {
    width: 80%;
    position: relative;
    left: 11%;
    opacity: 0.9;
}
/*Contact Page CSS*/
#contact {
    color: #fff;
    width: 65%;
    position: relative;
    left: 20%;
}
.row {
    width: 25%;
    position: relative;
    left: 40%;
}

/*Global*/
@-webkit-keyframes fadein {

    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}