<div class="about-section">     
    <h1><i class="fas fa-info-circle fa-lg"></i> <strong><%= title %> Me</strong> </h1>    
    <div class="h-100 p-4 text-white bg-dark border rounded-3">
        <div class="selfie border">           
        </div>
        <div class="descriplist mt-3">
            <ul>
                <li>
                    I am studying Software Engineering Technology at Centennial College.
                </li>
                <br>
                <li>
                    This is my Web application development project.
                </li>
                <br>
                <li>
                    This is about Express.js.
                </li>
            </ul>
            <button class="btn btn-outline-light p-3 mt-5 ms-4" type="button" onclick="location.href='/Assets/docs/resume.pdf'"><strong>Resume Download</strong></button>    
        </div>
        <div id="lottieabout">
        </div>
    </div>
</div>