<h1><i class="fas fa-info-circle fa-lg"></i> <strong><%= title %> Me</strong> </h1>
<div class="about-section">         
    <div class="h-100 p-5 text-white bg-dark border rounded-3">
        <div class="selfie"><img src="/Assets/images/photo.jpg"></div>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
    </div>
</div>