<header id="home">
  <div class="row banner">
    <div class="banner-text">
      <h1 class="responsive-headline"><span class="type"></span></h1>
      <hr>
      <h2>I am studying Software Engineering at Centennial.<br>
        Check out what I've <a role="button" class="btn btn-outline-success text-white" aria-pressed="true" href="/projects">Done</a> and what I can <a role="button" class="btn btn-outline-warning text-white" aria-pressed="true" href="/services">Help</a>.<br>
        This is my first Express.js Page.<br>
        Wanna learn more <a role="button" class="btn btn-outline-primary text-white" aria-pressed="true" href="/about">About</a> me and <a role="button" class="btn btn-outline-info text-white" aria-pressed="true" href="/contact">Find</a> me?</h2>
      <hr>
      <ul class="social">
          <li><a href="https://www.facebook.com/hanren.tu/"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="http://www.linkedin.com/in/hanrentu"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/henrytuu/"><i class="fab fa-instagram-square"></i></a></li>
          <li><a href="https://github.com/tuhanren"><i class="fab fa-github-square"></i></a></li>
      </ul>
    </div>
  </div>
</header>