    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/tuhanren"><i class="fab fa-github-square fa-lg"></i></a>
        </li>
      </ul>
        <h6 class="navbar-text">©Copyright 2021 All Rights Reserved</h6>
        <!-- <h6 class="navbar-text ms-auto mb-auto">©Copyright 2021 All Rights Reserved</h6> -->
      </div>
    </nav>