    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text ms-2 mb-auto">©Copyright 2021 All Rights Reserved</h6>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/tuhanren"><i class="fab fa-github-square fa-lg"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.linkedin.com/in/hanrentu"><i class="fab fa-linkedin fa-lg"></i></a>
      </li>
    </nav>