    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          </ul>
          
        </div>
        <h6 class="navbar-text ms-auto mb-auto">©Copyright 2021 All Rights Reserved</h6>
      </div>
    </nav>